/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/04/2020, 4:28:31 PM
    Author     : blue
*/
.login {
    text-align: right;
}
.button {
  background-color: #4CAF50;
  border: 2px;
  color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.p{text-align:right;
  
}
.table{
 
}

*{
   background: linear-gradient(to right, #ffafbd, #ffc3a0, cyan);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  text-align: center;
  font-family:"Comic Sans MS", cursive, sans-serif;
} 
